.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
    padding-left: 20px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.BannerMenu hr {
    margin-top: 20px;
}